.page{
    max-width: 60em;
    margin: 0 auto;
  }
  table th,
  table td{
    text-align: left;
  }
  table.layout{
    width: 100%;
    border-collapse: collapse;
  }
  table.display{
    margin: 1em 0;
  }
  table.display th,
  table.display td{
    border: 1px solid #B3BFAA;
    padding: .5em 1em;
  }
  
  table.display th{ background: #D5E0CC; }
  table.display td{ background: #fff; }
  
  table.responsive-table{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  }
  
  @media (max-width: 30em){
      table.responsive-table{
        box-shadow: none;  
      }
      table.responsive-table thead{
        display: none; 
      }
    table.display th,
    table.display td{
      padding: .5em;
    }
      
    table.responsive-table td:nth-child(1):before{
      content: 'khóa học: ';
    }
    table.responsive-table td:nth-child(2):before{
      content: 'Tác giả';
    }
    table.responsive-table td:nth-child(3):before{
      content: 'Giá tiền';
    }
    table.responsive-table td:nth-child(4):before{
      content: 'xem';
    }
    table.responsive-table td:nth-child(1),
    table.responsive-table td:nth-child(2),
    table.responsive-table td:nth-child(3),
    table.responsive-table td:nth-child(4){
      padding-left: 25%;
    }
    table.responsive-table td:nth-child(1):before,
    table.responsive-table td:nth-child(2):before,
    table.responsive-table td:nth-child(3):before,
    table.responsive-table td:nth-child(4):before{
      position: absolute;
      left: .5em;
      font-weight: bold;
    }
    
      table.responsive-table tr,
      table.responsive-table td{
          display: block;
      }
      table.responsive-table tr{
          position: relative;
          margin-bottom: 1em;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      }
      table.responsive-table td{
          border-top: none;
      }
      table.responsive-table td.organisationnumber{
          background: #D5E0CC;
          border-top: 1px solid #B3BFAA;
      }
      table.responsive-table td.actions{
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          background: none;
      }
  }