*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto',sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.grid{
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row{
    width: calc(100% - 10px);
    display: flex;
    flex-wrap: wrap ;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 32%;
}

.open{
    display: block;
}

.header{
    position: fixed;
    width: 100%;
    height: 66px;
    z-index: 2;
    box-shadow: 0 3px rgba(0, 0, 0, 4%);
}

.header-contain{
    display: flex;
    flex-wrap: nowrap;
    background-color: #fff;
    height: 100%;
    justify-content: space-between;
    font-size: 3rem;
    line-height: 6rem;
    padding: 0 30px;
    border-bottom: 1px solid #ccc;
}

.header-logo{

}

.header-search{
    width: 60%;
    margin-left: 28%;
}

.search-input-form{

}

.input-container{

}

.input{
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    width: 45%;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    
    outline-style: none;
}

.login{

}

.btn-login{
    width: 120px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

.header__user{
    font-size: 1.6rem;
    width: 12%;
    position: relative;
}

.header__user-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0,0.1);
    margin-bottom: -6px;
}

.header__user-name{
    margin-left: 4px;
}

.header__user:hover .header__user-menu{
    display: block;
}

.header__user-menu{
    position: absolute;
    list-style: none;
    background-color: #fff;
    left: 0;
    right: 0;   
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 2px;
    display: none;
}

.header__user-item{
    padding-left: 15px;
}

.header__user-item a{
    text-decoration: none;
    color: #000;
}

.header__user-item:hover{
    background-color: #ccc;
}



.body{
    display: flex;
    justify-content: space-around;
    padding-top: 75px;
}

.main{
    padding-left: 120px;
    padding-bottom: 40px;
    position: relative;
    width: 100%;
}

.main-img{
    border-radius: 25px;
}

.header-nav{
    position: fixed;
    left: 0;
    z-index: 2;
}


.nav-item{
    width: 75px;
    height: 75px;
    text-align: center;
    padding-top: 21px;
    border-radius: 14px;
    margin: 10px;
    list-style: none;
    font-size: 1.4rem;
}

.nav-item:hover{
    background-color: rgba(0, 0, 0, .2);
}

.nav-item a{
    text-decoration: none;
    color: #000;
}

.nav-icon{
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.product-header{
    font-size: 2.5rem;
    line-height: 2rem;
    margin-top: 30px;
    margin-left: 10px;
}

.product-item{
    margin: 20px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: .4s;
    box-shadow: 5px 5px 5px #aaaaaa;
}

.product-item:hover{
    margin-top: 10px;
    transition: .4s;
}

.product-item a{
    text-decoration: none;
    color: #000;
}

.product-item-img{
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-item-name{
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.product-des{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    cursor: pointer;
}

.product-des i{
    margin-right: 5px;
}

.product-des span{
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 60px;
    margin: 3px 0;
}

.product-item__sold{
    color: #000;
    text-align: right;
    padding-right: 36px;
}

.btn-click{
    width: 150px;
    height: 36px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 95px 20px;
    background-color: cornflowerblue;
    border: none;
}

.btn-click:hover{
    opacity: .9;
}

.btn-icon{
    font-size: 1.3rem;
    margin-left: 5px;
}

.user-infor{
    display: flex;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.user-heading{
    font-size: 2.5rem;
    line-height: 2;
    margin-bottom: 10px;
}

.user-change{
    display: none;
}

.user-change span{
    margin-top: 10px;
    display: inline-block;
    width: 150px;
}

.input-change{
    border: none;
    border-bottom: 1px solid #ccc;
    outline-style: none;
}

.btn-change{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background-color: #2697ff;
    margin: 20px 10px 0 0;
    transition: transform .3s;
}

.btn-change:hover{
    transform: scale(0.95);
    cursor: pointer;
}

.user-general{
    margin-top: 30px;
}

.user-general span{
    font-size: 1.6rem;
    line-height: 2rem;
    display: inline-block;
    margin-bottom: 5px;
}

.user-general-icon{
    margin-right: 8px;
    font-size: 1.3rem;
}

.user-content{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.user-infor-list{
    display: inline-block;
}

.user-infor-list span{
    display: inline-block;
    width: 140px;
    margin-bottom: 5px;
}

.user-course{
    margin-top: 20px;
}

.user-cart-list{
    list-style: none;
}

.user-cart-item{
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.user-cart-item-img{
    padding-top: 15%;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-cart-item-name{
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #000;
}

.user-cart-des{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2rem;
}

.user-cart-des span{
    margin-top: 8px;
}

.user-cart-icon{
    margin-right: 5px;
    font-size: 1.3rem;
} 

.star-gold{
    color: gold;
    font-size: 1.4rem;
    margin-left: 5px;
}

.btn-rate{
    width: 200px;
    height: 35px;
    border-radius: 12px;
    background-color: #758bbc;
    margin-top: 12px;
    border: none;
}

.btn-rate a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;
}

.btn-rate:hover{
    background-color: #2697ff;
}





.page-content{
    display: flex;
}

.page{   
    width: 70%;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 25px;
    height: 500px;
    display: inline-block;
    box-sizing: border-box;
}

.page h3{
    margin-top: 20px;
    font-size: 2rem;
    line-height: 4rem;
}

.page_right{
padding: 15px;
width:30%;
display: inline-block;
padding: 15px; 
position: fixed;
font-size: 1.5rem;
    line-height: 3rem;
}

.header_ten{

color: rgb(77, 13, 13);
padding: 10px;

text-align: center;
}
.header_tacgia{

color: rgb(77, 13, 13);
padding: 10px;

text-align: center;
}
.header_sl{
color: rgb(77, 13, 13);
padding: 10px;

text-align: center;
}
.header_gia{
   
color: rgb(77, 13, 13);
    padding: 10px;
    
    text-align: center;
}
.header_tuong_tac{

color: rgb(77, 13, 13);
padding: 10px;

text-align: center;
}
.header_mua{

color: rgb(77, 13, 13);
padding: 10px;

text-align: center;
}

.check-value{
    display: block;
    margin: auto;
}

.content_mid_table{
    font-size: 1.5rem;
    margin-top: 10px;
    line-height: 2rem;
}

.content{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 10px;
}

#table_gio_hang{
border: 1px solid #000000;
padding: auto;
font-size: 1.5rem;
line-height: 2rem;
width: 100%;

}
table,tr,th{
border: 1px solid #000000;

}
.table1{
text-align: center;
padding : auto;
border: 1px solid #ccc;
width: 350px;
box-sizing: border-box;
border-radius: 20px;
margin-bottom: 50px;
height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.table2{
border-radius: 20px;
text-align: center;
padding : auto;
border: 1px solid #ccc;
height: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 150px;
    width: 350px;
}

#mua {

width:350px;
margin-top: 20px;
} 
#mua button{


/* CSS */

background-color: #0095ff;
border: 1px solid transparent;
border-radius: 3px;
box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 1.15385;
margin: 0;
outline: none;
padding: 8px .8em;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
white-space: nowrap;

width: 100%;
height: 100%;
border-radius: 10px;
}










.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 25px;
    border-top: 1px solid #ccc; 
}

.footer-infor{
    display: flex;
    flex-direction: column;
}

.footer-header{
    font-size: 2rem;
    padding-bottom: 12px;
    position: relative;
}

.footer-header::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 20px;
    background-color: #ff0000;
    z-index: -1;
    transition: width .3s ease-in;
}

.footer-header:hover::before{
    width: 100%;
}

.footer-content{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5px;
}

.footer-content span{
    margin: 5px;
}

.footer-content-item{
    margin: 5px;
}

.footer-content-item a{
    text-decoration: none;
    color: #000;
}

.footer-content-item a:hover{
    opacity: .8;
}

.footer-icon{
    margin-right: 5px;
}

.copyright{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 10px;
}

nav{
    display: flex;
    justify-content: center;
}
.active{
    background-color: rgb(84, 156, 252);
    cursor: default;
}
.disabled{
    cursor: default;
}
.pagination{
    list-style-type: none;
    display: flex;
    font-size: 16px;
}
.page-item{
    width: 30px;
    height: 30px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid #ccc;
}
.page-link{
    text-decoration: none;
}