#course-add {
    background: #081D45;
}

.content {
    margin-top: 15px;
    width: 100%;
    display: flex;
}

.new-couse {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

label {
    width: 100%;
    display: inline-block;
}

input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 30px;
    font-size: 16px;
    margin-bottom: 10px
}

textarea {
    width: 100%;
    height: 180px;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

#btn {
    margin-top: 20px;
    padding: 7px 20px;
    border: none;
    background-color: #0066cc;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 6px;
    transition: all 0.3s;
}

#btn:hover {
    background-color: #004080;
}

.img-pre {
    width: 45%;
    margin-right: 15px;
    height: 200px;
    overflow: hidden;
    display: inline-block;
}

#img-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.cart-details {
    width: 50%;
    display: inline-block;
}

#number-course,
#author-course,
#price-course {
    margin-top: 15px;
}
textarea{
    width: 100%;
    height: 600px;
    /* resize: none; */
    resize: vertical;
}
#description-preview{
    width: 100%;
}
.sale-box-all{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.comment{
    width: 100%;
    padding: 10px;
    padding-top: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.comment-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.comment-avatar{
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.comment-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.comment-name{
    display: inline-block;
    margin-left: 10px;
}
.comment-name p{
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    font-size: 16px;
}

.conten-comment{
    margin-top: 10px;
}